<html>

<head>
    <title>Login page</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='login.css') }}">

    <script>
        function validateform()
        {
            var x=document.forms["validate"]["username"].value;
            var re = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
            if (re.test(x)==false)
            {
                //alert("invalid email address");
                document.getElementById('user_error').innerHTML= "<p style='color:red; font-size:13'>invalid email</p>"
                return false;
            }
            var p=document.forms['validate']['password'].value;
            if (p=='')
            {
                //alert("Password must be entered");
                document.getElementById('pass_error').innerHTML= "<p style='color:red; font-size:13'>please enter password</p>"
                return false;
            }
        }
    </script>
</head>

<body>
    <div class="signin" align="center">
        <form name="validate" onsubmit="return validateform()" method="POST">
            <h2 style="color: white">Log In</h2>
            <input type="text" name="username" placeholder="Username" >
            <span> <p id="user_error"></p></span>
            <input type="password" name="password" placeholder="password" >
            <span> <p id="pass_error"></p></span>
            <br><br>
            <a href="success_login.html"><input type="submit" value="Log In"></a> <br>
            <span><p id="invalid" style="color: red; font-size:13">{{error}}</p></span>
            <br>
            <div id="container">
                <a href="" style="margin-right:17px; font-size:13px;font-family:sans-serif;">Forgot password</a>
                <a href="" style="margin-right:0px; font-size:13px;font-family:sans-serif;">Reset password?</a>

            </div><br><br><br><br><br> Don't have account? <a href="signin.html">&nbsp;Sign up</a>
        </form>
    </div>
</body>

</html>